body {
  background-color: black;
  padding: 50px 30px 30px 30px;
}

.calculadora {
  background-color: aqua;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.painel {
  background-color: antiquewhite;
  width: 300px;
  height: 150px;
  text-align: center;
}
.botoesDeBaixo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.botoesDeNumeros {
  display: flex;
  flex-direction: row;
}

.numero:hover {
  background-color: green;
}
